In [36]:
import random
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [78]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
labels_df = pd.read_csv('gender_submission.csv')

In [49]:
print(train_df.shape)
train_df.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",2,22.0,1,0,A/5 21171,0.497555,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,1.786845,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,0.511146,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,1.420730,C123,S
4,5,0,3,"Allen, Mr. William Henry",2,35.0,0,0,373450,0.513663,NaN,S

In [30]:
train_df.isna().sum()/train_df.shape[0]*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [55]:
train_df['Fare'] = preprocessing.scale(train_df['Fare'])
train_df['Fare'] += 1

train_df.loc[train_df['Sex'] == 'female', 'Sex'] = 1
train_df.loc[train_df['Sex'] == 'male', 'Sex'] = 2

train_df.loc[train_df['Age'].isna() == True, 'Age'] = train_df[train_df['Age'].isna() == True]['Age'].apply(lambda x: random.randint(20, 38))
train_df['Age'] = preprocessing.scale(train_df['Age'])
train_df['Age'] += 3

train_df.loc[train_df['Embarked'] == 'C', 'Embarked'] = 1
train_df.loc[train_df['Embarked'] == 'Q', 'Embarked'] = 2
train_df.loc[train_df['Embarked'] == 'S', 'Embarked'] = 3

train_df.loc[train_df['SibSp'] == 0, 'SibSp'] = -1
train_df.loc[train_df['Parch'] == 0, 'Parch'] = -1

x_train = np.array(train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])
y_train = np.array(train_df['Survived'])

In [79]:
test_df = test_df.join(labels_df, lsuffix='_l', rsuffix='_r')
test_df.isna().sum()/train_df.shape[0]*100

test_df.loc[test_df['Age'].isna() == True, 'Age'] = test_df[test_df['Age'].isna() == True]['Age'].apply(lambda x: random.randint(20, 38))
test_df['Age'] = preprocessing.scale(test_df['Age'])
test_df['Age'] += 3

test_df = test_df[test_df['Fare'].notna()]

test_df.loc[test_df['Embarked'] == 'C', 'Embarked'] = 1
test_df.loc[test_df['Embarked'] == 'Q', 'Embarked'] = 2
test_df.loc[test_df['Embarked'] == 'S', 'Embarked'] = 3

test_df.loc[test_df['SibSp'] == 0, 'SibSp'] = -1
test_df.loc[test_df['Parch'] == 0, 'Parch'] = -1

test_df.loc[test_df['Sex'] == 'female', 'Sex'] = 1
test_df.loc[test_df['Sex'] == 'male', 'Sex'] = 2

x_test = np.array(test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])
y_test = np.array(test_df['Survived'])

,PassengerId_l,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PassengerId_r,Survived
0,892,3,"Kelly, Mr. James",male,3.344815,-1,-1,330911,7.8292,NaN,2,892,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,4.315798,1,-1,363272,7.0000,NaN,3,893,1
2,894,2,"Myles, Mr. Thomas Francis",male,5.480978,-1,-1,240276,9.6875,NaN,2,894,0
3,895,3,"Wirz, Mr. Albert",male,2.762225,-1,-1,315154,8.6625,NaN,3,895,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,2.373832,1,1,3101298,12.2875,NaN,3,896,1